<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/issues.css') }}">
    <title>Issue:{% block title %}{% endblock %} </title>
</head>
<body>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div style="text-align: center; font-size: large">
    {% block body %}{% endblock %}
</div>
<br>
<br>
<br>
<br>
<div id="redirect_back">
    redirect back in 3s...
</div>

<script>
{##}
{#    async function f(ms) {#}
{#        await new Promise(r => setTimeout(r, ms));#}
{#    }#}
{#    function doStuff()#}
{#    {#}
{#        //do some things#}
{#         //wait ten seconds before continuing#}
{#    }#}
    function f() {
        window.history.back()
    }
    setTimeout(f, 3000)

</script>
</body>
</html>