<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/issues.css') }}">
    <title>Issue:{% block title %}{% endblock %} </title>
</head>
<body>
{% block body %} {% endblock %}
<div id="redirect_back">
    3s left to redirect back...
</div>

<script>
    sleep(3000);
    window.history.back();

    function sleep(ms) {
      return new Promise(resolve => setTimeout(resolve, ms));
    }
</script>
</body>
</html>