<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %} {% endblock %}
    <title> Never_Forget </title>
</head>
<body>
<div style="text-align: center;">
    {% block body %}

    {% endblock %}
</div>

<br>
<br>
<br>
<br>
<br>

<div class="footer">
    <p style="font-style: italic">Never Forget: a light and online remainder featuring public
        editing and cooperation friendly.</p><br>
    <p style="font-weight: bold">Author: Daniel Wang</p>
    <p style="font-weight: bold"><a href="mailto:cndanielwang@gmail.com?subject=Feedback%20from%20user">
        Email: cndanielwang@gmail.com</a></p><br>
    <p>For any feedback, please visit www.github.com/zhongxuanwang/Never_Forget to write an issue or
        send me an email.</p>
</div>

</body>
</html>