{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="content">
        <h1 style="text-align: center">Edit Task</h1>
        <hr>

        {#    TODO Use js to check if the content is empty or the date is invalid#}

        <div class="form">
            <form action="/editTask/{{ task.id }}" method="POST">
                <input type="text" name="content" id="content" value="{{ task.content }}">
                <input type="datetime-local" name="date" placeholder="{{ task.time_due }}" id="date"
                       value="{{ task.time_due }}">
                <input type="submit" class="submitbtn" value="Change">
            </form>
        </div>
    </div>
    <script>

    </script>
{% endblock %}