{% extends 'base.html' %}

{% block head %}

{% endblock %}



{% block body %}

    <div class="content">
        <h1>Never Forget</h1>
        <table width="80%">
{#            The <tr> tag defines a row in an HTML table.#}
            <tr>

                <th>Content</th>
                <th>Created</th>
                <th>Actions</th>

            </tr>

            <tr>
                <td></td>
                <td></td>
                <td>
                    <a href="/cmTask">Complete</a> <br>
                    <a href="/rmTask">Remove</a><br>
                    <a href="/editTask">Edit</a><br>
                </td>
            </tr>

        </table>
        <form action="/addTask" method="post">
                <input type="text" name="content" placeholder="new task">
                <input type="submit" class="submitbtn" value="Add Task">
        </form>
    </div>

{% endblock %}


