{% extends 'base.html' %}

{% block head %}

{% endblock %}



{% block body %}

    <div class="content">
        <h1>Never Forget</h1>
        <table width="100%">
{#            The <tr> tag defines a row in an HTML table.#}
            <tr>

                <th>Content</th>
                <th>Created</th>
                <th>Actions</th>

            </tr>
{#        The language here is called jinja btw#}
            {% for task in tasks %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.time_created }}</td>
                    <td>
                        <a href="/cmTask/{{ task.id }}">Complete</a> <br>
{#                        <a href="/rmTask/{{ task.id }}">Remove</a><br>#}
                        <a href="/editTask/{{ task.id }}">Edit</a><br>
                    </td>
                </tr>
            {% endfor %}

        </table>
        <form action="/addTask" method="post">
                <input type="text" name="content" placeholder="new task">
                <input type="submit" class="submitbtn" value="Add Task">
        </form>
    </div>

{% endblock %}


